# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build / output folders
dist/
build/

# Database related
*.db

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Coverage
coverage/
